.dashboard-container {
  //display: flex;
  //border: 5px solid $primary;
  width: 60vw;
  margin-top: 2vh;
  margin-left: 16vw;
  margin-right: 16vw;
  //height: 100vh;
  //flex-wrap: wrap;
  h2 {
    text-decoration: none;
  }
}
