// $color-primary-0: #4B2D73;
// $color-primary-1: #E4DAF0;
// $color-primary-2: #83729A;
// $color-primary-3: #24064D;
// $color-primary-4: #05000A;
//
// .dashboard-container {
//   background: $color-primary-1;
//   color: $color-primary-4;
// }
