.about-container {
  //background: $secondary;
  margin-top: 2vh;
  //border: 5px solid $primary;
  width: 60vw;
  margin-left: 16vw;
  margin-right: 16vw;
  padding: $gutter-sm;
  min-height: 100vh;
}
